body {
  padding: 0;
  margin: 0;
}

body {
  background: #22252a;
  color: #eee;
}

body, table {
  font-family: DejaVu Sans Mono, fixed; 
  font-size: 14pt;
  line-height: 150%;
}

tr,td,table {
  padding: 0;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}


a { text-decoration: none; color: #888; }
a:hover { text-decoration: underline; color: #aaa; }
