body {
  padding: 0;
  margin: 0;
}

body {
  background: #22252a;
  color: #eee;
}

body, table {
  font-family: Arial, fixed; 
  font-size: 14pt;
  line-height: 150%;
}

tr,td,table {
  padding: 0;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}


a { text-decoration: none; color: #888; }
a:hover { text-decoration: underline; color: #aaa; }
a.left { display:block; float:left; width:265px; height:256px; background:url('arrow-left.png') }
a.right { display:block; float:left; width:265px; height:256px; background:url('arrow-right.png') }
a.button span {display:none;}
div.mainContent {width:530px; margin:10px; text-align:center}